body{
	background-image: url('../img/fundo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
label{
	color: rgb(255,255,255);
	font-size: 30px;
}
.class{
	font-weight: bolder;
}
#id{
	font-size: 40px;
}