body{
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

textarea{
    margin-top: 10px;
}

