* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-carrinho {
    width: 80vw;
    height: 10vh;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 0 15px;
}

#img-item {
    width: 8vh;
    height: 8vh;
}

.item-carrinho > button > img {
    width: 32px;
}

.modelo {
    visibility: hidden;
    display: none;
}