*{
    top: 0px;
    left: 0px;
    margin: 0px;
}

body{
    background-color: #023;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100vw;
    height: 10vh;
    top: 0px;
    background-color: #000;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main{
    height: 82vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    width: 100vw;
    height: 8vh;
    background-color: #000;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    cursor: pointer;
    font-weight: bold;
    border-radius: 100px;
}

.card{
    width: 100vw;
    background-color: #034;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.dados{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.botoes{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.modal{
    display:none;
}

.fundoModal{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
   width: 65vw;
   height: 65vh;
   background-color: #023;
   padding: 20px;
   margin-top: 12vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form img{
    width: 15vw;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form .comandos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form input{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    cursor: pointer;
    font-weight: bold;
    border-radius: 100px;
}

.form .btn{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#avatar{
    width: 10vw;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}