body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

header{
    border: solid 1px #ccc;
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

h1{
    margin:10px
}

ul{
    display: flex;
    flex-direction: row;
}

p{
    text-align: justify;
}

main{
    border: solid 1px #ccc;
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

footer{
    border: solid 1px #ccc;
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #444;
    margin:10px 40px 10px 40px;
}

.blocoTexto{
    width:25%;
    margin: 10px;
}

@media(max-width:1200px){
    main{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .blocoTexto{
        width:90%;
    }
}

@media(max-width:800px){
    ul{
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .blocoTexto{
        width:90%;
    }
}