<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>

<body onload="loadLocais()">
	<table id="tabela">
		<thead>
			<tr>
				<th style="max-width:200px;">Nome</th>
				<th style="max-width:500px;">Descrição</th>
				<th style="max-width:80px;">Ações</th>
			</tr>
			<tr>
				<th><input type="text" style="max-width:200px;" id="c1"/></th>
				<th><input type="text" style="min-width:500px;" id="c2"/></th>
				<th><button onclick="exportar()" style="width:75px;height: 35px;">Exportar CSV</button></th>
			</tr>
		</thead>
		<tbody id="corpo"></tbody>
	</table>
	<script src="./locais.js"></script>
</body>

</html>