@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E5E5E5;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 7fr 13fr;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "h h"
                         "f m"
                         "c m";
    gap: 1rem;
}

header {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #5E5E5E;
    color: #A1A1A1;
}

header span {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
}

header span p {
    margin-left: 8rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav p {
    font-size: 1.15rem;
    margin: 20px;
}

header nav img {
    width: 24px;
    filter: contrast(0%);
    margin: 20px;
}

.form {
    grid-area: f;
    padding: 1rem;
}

.cards {
    grid-area: c;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 1rem;
}

main {
    grid-area: m;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #7D8EFF;
    color: #FFF;
    padding: 10px;
}

.card p:nth-child(1) {
    font-size: 1rem;
}

.card p:nth-child(2) {
    font-size: 2.5rem;
    align-self: flex-end;
}

form {
    width: 100%;
    height: 100%;
    padding: 1.15rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

form p {
    margin-top: 1rem;
}

form input, select {
    width: 35%;
    margin-bottom: 1rem;
}

form hr {
    border-color: rgba(0,0,0, .1);
}

main img {
    width: 100%;
    height: 75%;
}

.options {
    display: flex;
    color: #FFF;
}

.bloco {
    width: 20%;
    height: 125px;
    background-color: red;
    margin-left: 2px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    padding: .5rem; 
}

.bloco img {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    filter: invert();
}

.bloco .nota {
    font-size: 2rem;
}

.b1 {
    background-color: #22B1E0;
}

.b2 {
    background-color: #25E68F;
}

.b3 {
    background-color: #F7A520;
}

.b4 {
    background-color: #FC7272;
}