*{
    margin:0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #666;
    color: #fff;
    width: 100vw;
    height: 80px;
    justify-content: space-around;
}

header button{
    width: 200px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
}

.card{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 5px #000;
    margin: 5px;
}

.card p{
    margin: 20px;
}

.imgbt{
    display: flex;
    margin:10px;
}

#del{
    width: 35px;
    height: 35px;
    font-size: 18px;
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
    border: 0px;
}

#img{
    width: 150px;
}
.model{
    display: none;
}