* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50vw;
    height: 50vh;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-auto-rows: 100px;
    gap: 5px 15px;
}

.container > div {
    background-color: blue;
}

/* Grid Area */

.area {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "header header" "main a1" "main a2";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

#a1 {
    grid-area: a1;
}

#a2 {
    grid-area: a2;
}   