@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

ul > li {
    float: left;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}

ul > li:hover {
    background-color: gray;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}


img {
    width: 60px;
}

header {
    width: 80%;
    margin-top: 20px;
}

header, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

nav > p {
    margin-left: 10px;
}

section {
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

section > img {
    width: 450px;
}

section > div {
    padding-left: 50px;
}

#dois {
    padding-left: 0;
    padding-right: 50px;
}

section > div > p {
    margin-bottom: 20px;
}

section #title {
    font-size: 26px;
    color: #3238a8;
}

#button {
    background-color: #3238a8;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

#button:hover {
    background-color: #3a41c2;
}