body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

header{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    text-align: center;
    margin: 10px;
}

form{
    border: 1px solid #ccc;
    border-radius: 5px;
}

div{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

textarea{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}