@import url('../global/global.css');

.container {
    width: 100vw;
    height: 100vh;    
    background: linear-gradient(to right, #b92b27, var(--base-color));
}

header {
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: rgba(255,255,255,.2);
}

.map {
    width: 100vw;
    height: 90%;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.form-modal {
    width: 85%;
    height: 50%;
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
}